<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    <description>Shiro Configuration</description>

    <!-- Shiro's main business-tier object for web-enabled applications -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="employeeShiroDbRealm" />
        <property name="cacheManager" ref="shiroEhcacheManager" />
    </bean>

    <!-- 项目自定义的Realm -->
    <!-- 客户端的回调地址设置，必须和下面的shiro-cas过滤器拦截的地址一致 -->
    <!-- Shiro Filter -->
    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager" />
        <property name="loginUrl" value="/manage/login/index.jhtml" />
        <property name="successUrl" value="/manage/main/index.jhtml" />
        <property name="unauthorizedUrl" value="/manage/login/index.jhtml" />
        <property name="filterChainDefinitions">
            <value>
                /static/** = anon
                /common/error/** = anon
                /manage/login/index.jhtml = anon
                /manage/login/login.jhtml = anon
                /manage/login/logout.jhtml = anon
                /manage/login/register.jhtml = anon
                /manage/login/entry.jhtml = anon
                /manage/login/check.jhtml = anon
                /manage/login/preview.jhtml = anon
                /manage/** = authc
                /web/shop/shopping-cart/** = authc
            </value>
        </property>
    </bean>

    <bean id="employeeShiroDbRealm" class="cn.com.enjoystudy.oa.security.shiro.SysEmployeeShiroDbRealm" />

    <!-- 用户授权信息Cache, 采用EhCache -->
    <bean id="shiroEhcacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache/ehcache-shiro.xml"/>
    </bean>

    <!-- 保证实现了Shiro内部lifecycle函数的bean执行 -->
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>

    <!-- AOP式方法级权限检查  -->
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true" />
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="org.apache.shiro.SecurityUtils.setSecurityManager"/>
        <property name="arguments" ref="securityManager"/>
    </bean>

    <bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
        <property name="securityManager" ref="securityManager"/>
    </bean>

</beans>